@()

<div class="fill">
    <p-tabView class="fill" (onChange)="selectActiveTab($event.index)">
        @*Workaround for https://github.com/primefaces/primeng/issues/2000*@
        <p-tabPanel class="fill" *ngIf="uiStateStore.hasNoTabs"
        header="..."
        selected="true">
            Instantiate flow from template or create a new flow
        </p-tabPanel>

        <p-tabPanel class="fill"  *ngFor="let tabz of uiStateStore.flowTabs | async"
        [header]="tabz.title"
        [selected]="tabz.active"
        [disabled]="tabz.disabled">
            <div pTooltip="{{tabz.id}}"
            tooltipPosition="top"
            class="pull-left"
            [ngClass]="{green: tabz.isRunning(), red: tabz.isStopped(), black: tabz.isNotStarted()}">{{tabz.name}}</div>
            <div class="flex-panel fill"  flow-graph [showFlowInstance]="tabz.flowInstance">Content</div>
        </p-tabPanel>
    </p-tabView>
</div>
