@()

<flow-tabs class="fill"
[instantiateFlow]="uiStateStore.flowInstantiationObs | async">
</flow-tabs>

<p-dialog
class="dialog-panel"
header="Templates"
width="900"
[resizable]="false"
[closable]="false"
[(visible)]="uiStateStore.isTemplateInfoDialogVisible"
*ngIf="uiStateStore.isTemplateInfoDialogVisible">
    <flow-entity
    [entityInfo]="templateEntityInfo"
    finaliseLabel="Instantiate Flow">
    </flow-entity>
</p-dialog>

<p-dialog
class="dialog-panel"
header="Output Schema"
width="500"
[resizable]="true"
[closable]="false"
[(visible)]="uiStateStore.isProcessorSchemaDialogVisible"
*ngIf="uiStateStore.isProcessorSchemaDialogVisible">
    <processor-schema></processor-schema>
</p-dialog>

<p-dialog
class="dialog-panel"
header="Processor Properties"
width="900"
[resizable]="false"
[closable]="false"
[(visible)]="uiStateStore.isProcessorPropertiesDialogVisible"
*ngIf="uiStateStore.isProcessorPropertiesDialogVisible">
    <flow-entity
    [entityInfo]="uiStateStore.getSelectedProcessorPropertiesConf()"
    finaliseLabel="Update">
    </flow-entity>
</p-dialog>

