<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- log to System.out on console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- log to file dcs.log -->
    <appender name="DCS_LOG" class="ch.qos.logback.core.FileAppender">
        <file>dcs.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.atmosphere.cpr.AtmosphereFramework" level="DEBUG"/>

    <logger name="org.dcs.api.RESTExceptionHandler" level="DEBUG" additivity="false">
        <appender-ref ref="DCS_LOG"/>
    </logger>

</configuration>