@()
<div class="entity-info-view">
    <div *ngFor="let field of fields" [ngSwitch]="field.fieldUIType()">
        <div class="ui-g" *ngSwitchCase="fieldUIType.TEXT_NOT_EDITABLE">
            <div class="ui-g-4"><h4><span class="label label-default pull-right">{{field.label}}</span></h4></div>
            <div class="ui-g-8">{{field.value}}</div>
        </div>
        <div class="ui-g" *ngSwitchCase="fieldUIType.TEXT_EDITABLE">
            <div class="ui-g-4"><h4><span class="label label-default pull-right">{{field.label}}</span></h4></div>
            <div class="ui-g-8"><textarea rows="1" cols="25" pInputTextarea autoResize="autoResize" >{{field.value}}</textarea></div>
        </div>
        <div  class="ui-g" *ngSwitchCase="fieldUIType.BOOLEAN">
            <div class="ui-g-4"><h4><span class="label label-default pull-right">{{field.label}}</span></h4></div>
            <div class="ui-g-8"><p-checkbox [(ngModel)]="field.value" binary="true"></p-checkbox></div>
        </div>
        <div  class="ui-g" *ngSwitchCase="fieldUIType.VALUE_LIST">
            <div class="ui-g-4"><h4><span class="label label-default pull-right">{{field.label}}</span></h4></div>
            <div class="ui-g-8"><p-dropdown [style]="{'width':'250px'}" [options]="field.selectItems" [(ngModel)]="field.value"></p-dropdown></div>
        </div>
    </div>
</div>