@()

<div class="flex-row-parent" >
    <div class="flex-panel-30" *ngIf="!hasSingleEntity()">
        <p-listbox
        [options]="entities"
        [(ngModel)]="selectedEntityValue"
        (onChange)="select($event.value.id)"
        filter="filter"
        [style]="{'width':'250px','height':'400px','max-height':'400px'}">
            <ng-template let-entity pTemplate="item">
                <div class="ui-helper-clearfix">
                    <span>{{entity.label}}</span>
                    <i *ngIf="entity.value.status === flowEntityStatus.WARNING" class="fa fa-exclamation-circle pull-right"></i>
                </div>
            </ng-template>
        </p-listbox>
    </div>
    <div [ngClass]="{'flex-panel-70': !hasSingleEntity(), 'flex-panel': hasSingleEntity()}">
        <div class="entity-tab-view" *ngIf="selectedFlowEntityConf | async as flowEntity">
            <p-tabView *ngIf="flowEntity.isSelected()">
                <p-tabPanel
                *ngFor="let fieldGroup of flowEntity.selectedEntityFieldGroups()"
                [header]="fieldGroup.label"
                [selected]="fieldGroup.active">
                    <flow-entity-info [entityFieldGroup]="fieldGroup"></flow-entity-info>
                </p-tabPanel>
                <p-tabPanel
                *ngFor="let field of flowEntity.selectedEntitySpecificFields()"
                [header]="field.label"
                [selected]="field.active">
                    <schema-property *ngIf="field.isSchemaField()"
                    [schemaField]="field">
                    </schema-property>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>

<p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button pButton
        type="button"
        (click)="finalise()"
        [disabled]="(selectedFlowEntityConf | async).selectedFlowEntityId === undefined"
        label="{{finaliseLabel}}">
        </button>
        <button pButton
        type="button"
        (click)="cancel()"
        label="Cancel">
        </button>
    </div>
</p-footer>

