@()

<div class="flex-row-parent" >
    <div class="flex-panel-30">
        <p-listbox
        [options]="entities"
        [(ngModel)]="selectedEntityId"
        (onChange)="select($event.value)"
        filter="filter"
        [style]="{'width':'250px','height':'400px','max-height':'400px'}">
        </p-listbox>
    </div>
    <div class="flex-panel-70 ">
        <div class="entity-tab-view">
            <p-tabView>
                <p-tabPanel
                *ngFor="let fieldGroup of selectedEntityFieldGroups; let select = first"
                [header]="fieldGroup.label"
                [selected]="select">
                    <flow-entity-info [entityFieldGroup]="fieldGroup"></flow-entity-info>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>

<p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button pButton type="button" label="{{finaliseLabel}}"></button>
    </div>
</p-footer>

