@()
<div class="card-header"
unselectable="yes" 
onselectstart="return false" 
onmousedown="return false">
{{name}}
    <div class="btn-group btn-group-sm pull-right">                        
        <button type="button" class="btn" ><span class="fa fa-arrows-alt"></span></button>
    </div>
    <div class="btn-group btn-group-sm pull-right">                        
        <button type="button" class="btn" ><span class="fa fa-expand"></span></button>
    </div>
</div>
<div class="card-block" ws-panel>
	@*<div ng-controller="WsViewController" ng-include="getTemplateUrl()" style="min-height:100%;height:100%;"></div>*@
    <visualise class="wsview" *ngIf="name === 'visualise'"></visualise>
    <mobilise class="wsview" *ngIf="name === 'mobilise'"></mobilise>
    <analyse class="wsview" *ngIf="name === 'analyse'"></analyse>
</div>
