@()
<p-panel >
    <p-header >
        <div >
            <span class="ui-panel-title">{{name}}</span>
            <div class="btn-group btn-group-sm pull-right" *ngIf="contextStore.contextMenuObs(name) | async as items">
                <p-menu #menu  appendTo="body" popup="popup" [model]="items"></p-menu>
                <button type="button" class="btn"  (click)="menu.toggle($event)"><span class="fa fa-bars"></span></button>
            </div>
        </div>
    </p-header>
    <div class="flex-panel fill" [ngSwitch]="name">
        <visualise class="flex-panel-parent" *ngSwitchCase="'visualise'"></visualise>
        <mobilise class="flex-panel-parent" *ngSwitchCase="'mobilise'"></mobilise>
        <analyse  *ngSwitchCase="'analyse'"></analyse>
    </div>
</p-panel>
